.chat-container {
  padding: 10px;
  margin-bottom: 10px;
  /* overflow-y: auto; */
  /* height: 90vh; */
}

body,
.chat-container {
  background-color: rgb(252, 252, 255);
}

body {
  height: 90vh;
}
